<div class="home pb-5">
  <div class="banner">
    <p class="title">Nunca mais perca sua série favorita</p>
    <p class="subtitle">
      com a SerieFlix, você escolhe suas séries preferidas
      <br>
      e sempre será notificado quando há um novo episódio
    </p>
  </div>

  <div class="about p-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <%= image_tag "icone1.png", width: "475px", height: "auto" %>
        </div>
        
        <div class="col-sm-12 col-md-6">
          <div class="title">
            escolha, favorite e seja notificado
          </div>
          <div class="description pt-3">
            o primeiro passo é escolher as suas séries preferidas
            <br>
            no nosso catálogo, depois salve-as na sua lista. Quando
            <br>
            houve novos episódios para elas, nós te notificaremos :)
          </div>
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 mt-2">
          <div class="title">
            acompanhe o seu progresso
          </div>
          <div class="description pt-3">
            com a SerieFlix, fica fácil saber onde você parou em uma série.
            <br>
            Você sempre pode marcar episódios ou temporadas já assistidas.
          </div>
        </div>
        
        <div class="col-sm-12 col-md-6 mt-2">
          <%= image_tag "icone2.png", width: "475px", height: "auto" %>
        </div>
      </div>
    </div>
  </div>

  <div class="next-episodes pt-4 pb-5">
    <div class="container pt-2">
      <div class="title">
        próximos episódios
      </div>

      <div class="row">
        <% Series.all.each do |s| %>
          <div class="col-sm-3">
            <div class="series-card">
              <div class="photo">
                <%= link_to series_path(s) do %>
                  <%= image_tag s.image_path %>
                <% end %>
              </div>
              <div class="episode">
                S0<%= s.seasons.first.number %>E0<%= s.seasons.first.episodes.first.number %>
              </div>
              <div class="name">
                <%= s.title %>
              </div>
              <div class="next-episode">
                Próximo episódio: amanhã
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>