<div class="series pt-4">
	<div class="container pt-3">
		<div class="row">
			<div class="col-sm-3">
				<div class="title">minhas séries</div>
			</div>

			<div class="col-sm-5"></div>

			<div class="col-sm-2">
				<div class="search">
					<div class="form-group">
						<input type="search" class="form-control" placeholder="pesquise por nome">
					</div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="filter">
					<div class="btn-group">
						<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							ordenar por
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">nome</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<% @series.each do |s| %>
				<div class="col-sm-3">
					<div class="series-card">
						<div class="photo">
							<%= link_to series_path(s) do %>
								<%= image_tag s.image_path %>
									<% end %>
						</div>
						<div class="episode">
							S0<%= s.seasons.first.number %>E0<%= s.seasons.first.episodes.first.number %>
						</div>
						<div class="progress mt-3">
							<div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="name">
							<%= s.title %>
						</div>
						<div class="next-episode">
							Próximo episódio: amanhã
						</div>
					</div>
				</div>
			<% end %>
			<%= paginate @series %>
		</div>
	</div>
</div>