<div style="padding-bottom: 5em">
	<div class="banner">
		<%= image_tag gravatar_url(current_user.email, 150), class: "rounded-circle mx-1", style: "margin-top: -4em; border: 2px solid #fff" %>
			<p class="title mt-3">
				<%= current_user.name %>
			</p>
	</div>

	<div class="d-flex justify-content-center">
		<div class="card" style="width: 500px; margin-top: -3em; border-radius: 0">
			<div class="card-body">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "login-form" } ) do |f| %>
					<div class="form-group">
						<%= f.label :name, "Nome" %>
							<%= f.text_field :name, autofocus: true, class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :email %>
							<%= f.email_field :email, autofocus: true, class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :password, "Nova Senha" %>
							<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :password_confirmation, "Confirmação de Senha" %><br />
							<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :current_password, "Senha Atual" %> <br />
							<%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
					</div>

					<div class="actions box">
						<%= f.submit "salvar meu perfil", class: "btn btn-success btn-block" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
