<section class="login d-flex align-items-center justify-content-center">
	<div class="card">
		<div class="card-header">Entrar</div>
		<div class="card-body">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form"}) do |f| %>
				<div class="campos">
					<div class="form-group">
						<%= f.label :email %><br />
						<%= f.email_field :email, autofocus: true, class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :password, "Senha" %><br />
							<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
					</div>

					<div class="action-submit">
						<%= f.submit "entrar na plataforma", class:"btn btn-success btn-block" %>
					</div>
				</div>
				<% end %>
		</div>
	</div>
</section>