<section id="serie-home">

	<section id="serie-head">
		<h1>Nunca mais perca sua série favorita</h3>
		<p>com a SerieFlix, você escolhe suas séries preferidas e sempre será notificado quando há um novo episódio</p>
	</section>

	<section id="serie-promo">

		<div class="filtro">
			<h2>Séries</h2>
			<%= form_tag root_path, method: :get, class: 'form-inline' do %>
				<%= text_field_tag :filtro, nil, placeholder: "Pesquisa por nome", class: 'form-control' %>
				<%= button_tag "Pesquisar", class: 'btn btn-primary' %>
			<% end %>
		</div>

		<% @series.each_slice(4) do |slice_of_four| %>
			<div class="row">
				<% slice_of_four.each do |series| %>
					<div class="col-sm-3">
						<%= render series, series:series %>
					</div>
				<% end %>
			</div>
		<% end %>

		<%= paginate @series %>
	</section>
	
</section>



		
