<header class="serie-header">
	<nav>
		<%= image_tag "serieflix-logo.png", alt: "serieFlix logo", class: "logo"%>
		<% if user_signed_in? %>
			<ul class="main-nav">
				<li>
					<%= link_to_unless_current "Séries" %>
				</li>
				<li>
					<a href="#"> Minhas Séries </a>
				</li>
				<li>

				</li>
				<li>
					<%= link_to "Logout", destroy_user_session_path %>
				</li>
			</ul>
		<% else %>

			<ul class="main-nav">
				<li>
					<%= link_to "Entrar", new_user_session_path %>
				</li>
				<li>
					<%= link_to "Cadastrar", new_user_registration_path %>
				</li>
			</ul>
		<% end %>
	</nav>
</header>
