<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "serieflix-logo.png", width: "120px", height: "auto" %>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Séries", series_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Minhas Séries", "", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "", class: "nav-link" do %>
              <%= fa_icon "bell-o" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to edit_user_registration_path do %>
              <%= image_tag gravatar_url(current_user.email, 32), class: "rounded-circle mt-1 mx-1" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Sair", destroy_user_session_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cadastrar", new_user_registration_path, class: "nav-link text-success" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>