<!DOCTYPE html>
<html>
	<head>
		<title>SerieFlix</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
	</head>
	<body class="site">
		<%= render partial: "layouts/navbar" %>

		<main class="site-content">
			<% if notice %>
				<div class="alert alert-success mb-0" style="border-radius: 0">
					<div class="container">
						<%= notice %>
					</div>
				</div>
			<% end %>

			<% if alert %>
				<div class="alert alert-warning mb-0" style="border-radius: 0">
					<div class="container">
						<%= alert %>
					</div>
				</div>
			<% end %>

			<%= yield %>
		</main>

		<%= render "layouts/footer" %>
	</body>
</html>
