<!DOCTYPE html>
<html>
	<head>
		<title>ES022017</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'application', media: 'all' %>
	</head>
	<body>
		<%= render "layouts/header" %>
		<section class="main-section">
			
			<% if notice %>
				<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert alert-danger"><%= alert %></p>
			<% end %>
			<%= yield %>

		</section>

		<%= render "layouts/footer" %>
	</body>
</html>
